<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Travels</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/car_images.css">
    </head>


<body>
    <div class="container mx-auto my-10">
        <h1 class="header font-bold mb-8 text-center">Sri Laxmi Car Travels</h1>
        <div class="grid grid-cols-3 gap-4">
            <div class="car1">

                <img src="https://cdni.autocarindia.com/utils/imageresizer.ashx?n=https://cms.haymarketindia.net/model/uploads/modelimages/Hyundai-Grand-i10-Nios-200120231541.jpg&w=350&h=251&q=90&c=1"
                    alt="Car 1">
                    <div class="car-details">
                        <p class="carname">Tata Zest</p>
    
                      </div>                                                                            

            </div>
            <div class="car2">
                <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/106785/exterior-right-front-three-quarter-2.jpeg?isig=0"
                    alt="Car 2">
            </div>
            <div class="car3">
                <img src="https://media.zigcdn.com/media/model/2023/Jan/x7-1_360x240.jpg" alt="Car 3">
            </div>
            <div class="car4">
                <img src="https://media.zigcdn.com/media/model/2023/Jan/x7-1_360x240.jpg" alt="Car 3">
            </div>
            <div class="car5">
                <img src="https://media.zigcdn.com/media/model/2023/Jan/x7-1_360x240.jpg" alt="Car 3">
            </div>
            <div class="car6">
                <img src="https://cdni.autocarindia.com/utils/imageresizer.ashx?n=https://cms.haymarketindia.net/model/uploads/modelimages/Porsche-Macan-220620221545.jpg&w=350&h=251&q=90&c=1"
                    alt="Car 3">
            </div>
        </div>
    </div>
</body>

</html>